<!doctype html>
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Новости со всего мира{% endblock %}</title>
</head>
<body>

{% include 'include/_nav.html' %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}SIDEBAR{% endblock %}
        </div>

        <div class="col-md-9">
            <br>
            {% block content %}CONTENT{% endblock %}

            {% if page_obj.has_other_pages %}
            <nav aria-label="...">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}

                    {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ p }}">{{ p }} <span class="sr-only"></span> </a>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ p }}">{{ p }} </a>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number  }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>

    </div>
</div>


<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>


</body>
</html>
